.popover {
  position: absolute;
  top: 100%;
  border-radius: 15px;
  padding: 14px 57px 14px 20px;
  width: 100%;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 100;
}

.popoverButtonSettings {
  display: block;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 149%;
  color: #323f47;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  stroke-width: 0;
  stroke: currentColor;
  fill: transparent;
  margin-right: 8px;
}

.popoverButtonSettings:hover,
.popoverButtonSettings:active {
  color: black;
  outline: none;
  background-color: transparent;
}

.popoverButtonLogOut {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 149%;
  text-align: left;
  color: rgba(50, 63, 71, 0.4);
  transition: background-color 0.3s ease;
  width: 100%;
}

.popoverButtonLogOut:hover,
.popoverButtonLogOut:active {
  color: black;
  border: none;
  outline: none;
  background-color: transparent;
}
