.waterInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 343px;
  height: 415px;
  background-color: #9be1a0;
  border-radius: 30px;
  padding: 24px 16px 30px;
}

.logo {
  align-self: flex-start;
  margin-bottom: 6px;
}

.waterAmount {
  position: absolute;
  top: 122px;
  left: 16px;
  width: 102px;
  padding: 12px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
}

.waterNorma {
  color: #323f47;
  font-weight: 700;
  line-height: 14px;
  margin-bottom: 6px;
}

.waterNormaDescr {
  color: rgba(47, 47, 47, 0.6);
  font-size: 10px;
  line-height: 10px;
}

.waterInfoImg {
  margin: 0 auto;
}

.waterRange {
  position: absolute;
  bottom: 120px;
  width: 198px;
  padding: 12px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
}

.waterRangeDescr {
  color: #323f47;
  font-weight: 700;
  line-height: 14px;
  margin-bottom: 8px;
}

.waterRangeScale {
  width: 100%;
}

.addWaterBtn {
  font-family: inherit;
  position: absolute;
  right: 16px;
  bottom: 32px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 20px;
  border-radius: 30px;
  background: #323f47;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.14px;
}

.plusIcon {
  width: 16px;
}

@media screen and (min-width: 768px) {
  .waterInfo {
    width: 704px;
    height: 578px;
    padding: 32px;
  }

  .logo {
    margin-bottom: 13px;
  }

  .waterAmount {
    top: 157px;
    left: 32px;
    width: 129px;
    padding: 14px 18px;
  }

  .waterNorma {
    font-size: 15px;
    line-height: 22.4px;
    margin-bottom: 4px;
  }

  .waterNormaDescr {
    font-size: 12px;
    line-height: 22.4px;
  }

  .waterRange {
    bottom: 150px;
    width: 295px;
    padding: 20px;
  }

  .waterRangeDescr {
    font-size: 15px;
    line-height: 22.4px;
    margin-bottom: 6px;
  }

  .addWaterBtn {
    right: 32px;
    bottom: 64px;
    padding: 18px 30px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
  }

  .plusIcon {
    width: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .waterInfo {
    width: 672px;
    height: 736px;
    padding: 32px 32px 40px;
  }

  .logo {
    margin-bottom: 36px;
  }

  .water-amount {
    left: 64px;
  }

  .waterRange {
    bottom: 180px;
  }
}
