.sign-in-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0 16px;
}

.toaster-container {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 32px);
  padding: 16px;
  z-index: 1000;
}

.logo {
  position: absolute;
  top: 24px;
  left: 16px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #323f47;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.logo:hover,
.logo:focus {
  transform: scale(1.05);
  outline: none;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f9fc;
  border-radius: 30px;
  padding: 24px 16px;
  width: 100%;
  max-width: 436px;
  margin-bottom: 16px;
}

.form-title {
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 700;
  color: #323f47;
}

.input_main_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.input__wrapper {
  width: 100%;
}

.input__wrapper label {
  font-size: 16px;
  font-weight: 600;
  color: #323f47;
  margin-bottom: 8px;
}

.input__field {
  width: 100%;
  padding: 16px;
  height: 56px;
  font-size: 16px;
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.input__field:focus {
  border-color: rgba(47, 47, 47, 0.4);
  outline: none;
}

.input__field--error {
  border-color: #ef5050;
  color: #ef5050;
}

.error-text {
  font-size: 14px;
  color: #ef5050;
}

.input-password {
  position: relative;
  display: flex;
  align-items: center;
}

.input__icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
  stroke-width: 1.8px;
  stroke: #2f2f2f;
  fill: none;
}

.input__icon:hover,
.input__icon:focus {
  color: #000;
}

.submit-button {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  background-color: #9be1a0;
  border-radius: 30px;
  color: #323f47;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover,
.submit-button:focus {
  background-color: #87d28d;
}

.text-link {
  font-size: 16px;
  text-align: center;
  color: rgba(47, 47, 47, 0.5);
}

.text-link a {
  font-weight: bold;
  text-decoration: underline;
  color: #2f2f2f;
}

.text-link a:hover {
  text-decoration: none;
}

.advantages-section {
  display: none;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .sign-in-page {
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    align-items: flex-start;
  }

  .logo {
    top: 32px;
    left: 32px;
    font-size: 24px;
  }

  .sign-in-form {
    padding: 32px;
    max-width: 460px;
  }

  .advantages-section {
    display: block;
    max-width: 460px;
  }
}

@media screen and (min-width: 1440px) {
  .sign-in-page {
    max-width: 1440px;
    margin: 0 auto;
  }

  .sign-in-form {
    width: 672px;
  }

  .advantages-section {
    width: 50%;
  }
}
