.userBarContainer {
  position: relative;
  display: inline-block;
}

.userBar {
  border-radius: 30px;
  padding: 6px 12px;
  width: 157px;
  height: 56px;
  background-color: var(--main);
}

.userBar:hover {
  background-color: var(--hover-gray);
}

.userName {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main-white);
}

.avatar {
  border-radius: 100%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}
