.month_info {
  margin-top: 72px;
}

.block_manth {
  display: flex;
  justify-content: space-between;
}
.title {
  color: #323f47;
  font-weight: 700;
  font-size: 28px;
}

.block_manth_year {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #323f47;
}

.block_manth_year button {
  cursor: pointer;
}

.block_schedule {
  display: flex;
  text-align: center;
}

.name_manth {
  font-weight: 700;
  font-size: 16px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 45px;
  padding: 24px 0;
}

.date_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.calendar_date {
  justify-content: center;
  color: #323f47;
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  display: flex;
  height: 38px;
  width: 38px;
  border-radius: 50%;
}

.white {
  background-color: #ffffff;
}

.grey {
  background-color: #323f4733;
}

.green {
  background-color: #9be1a0;
}

.date_block span {
  padding: 4px 0;
  color: #2f2f2f99;
  font-weight: 400;
  font-size: 12px;
}

.svg_pie {
  width: 24px;
  height: 24px;
}

.selected_date {
  background-color: #4caf50;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
}

@media (max-width: 768px) {
  .title {
    font-size: 20px;
  }
  .block_manth_year {
    gap: 16px;
  }
  .name_manth {
    font-size: 14px;
  }
  .svg_pie {
    width: 24px;
    height: 24px;
  }
  .calendar {
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 18px;
  }
  .calendar_date {
    font-size: 14px;
    height: 28px;
    width: 28px;
  }

  .date_block span {
    padding-top: 6px;
    font-size: 10px;
  }
}

.calendar_date_today {
  color: #9be1a0;
  background-color: #323f47;
}
